<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="b">

	<!-- DTO의 필드명과 테이블의 컬럼명이 다를경우 resultMap으로 매핑 -->
	<resultMap type="OrderDTO" id="orderResult">
		<result property="orderNo" column="orderno"/>
		<result property="userid" column="userid"/>
		<result property="name" column="username"/>
		<result property="tel" column="tel"/>
		<result property="price" column="price"/>
	</resultMap>


	<!-- 주문 전체 조회 -->
	<select id="orderselect1" resultType="OrderDTO">
		select * from ordera
	</select>
	<select id="orderselect2" resultMap="orderResult">
		select * from ordera
	</select>
</mapper>